[Unit]
Description=HTTP bridge for Enervent ventilation units with EDA automation

[Service]
Type=simple
ExecStart=/usr/bin/node /home/eda/eda-modbus-bridge/eda-modbus-bridge.mjs -d /dev/ttyUSB0 -p 9090

[Install]
WantedBy=multi-user.target
