[Unit]
Description=HTTP bridge for Enervent ventilation units with EDA automation

[Service]
User=eda
Group=eda
ExecStart=/usr/bin/python3 /home/eda/eda-modbus-bridge/edamodbusbridge/app.py /dev/ttyUSB0 --verbose --httpListenPort 9090

[Install]
WantedBy=multi-user.target